<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} [%-5level] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/logs/oa.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/oa.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} [%-5level] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="org.springframework" level="WARN" />
	<!-- project default level -->
	<logger name="com.iss" level="DEBUG" />
	<logger name="com.iss" level="DEBUG" />
	<logger name="com.ibatis" level="debug" />
    <logger name="org.mybatis.spring.SqlSessionTemplate" level="debug" />
	<root level="DEBUG">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>